<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Image</title>
</head>
<body>
    <h1>Generate and Download Image</h1>

    <!-- Display Logout option -->
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>

    <!-- Add a gap here -->
    <br><br>

    <form action="/generate-image" method="POST">
        <label for="prompt">Enter Prompt:</label><br>
        <input type="text" id="prompt" name="prompt" value="A beautiful landscape"><br><br>
        
        <label for="width">Width:</label><br>
        <input type="number" id="width" name="width" value="1920"><br><br>
        
        <label for="height">Height:</label><br>
        <input type="number" id="height" name="height" value="1080"><br><br>

        <label for="seed">Seed (Optional)<br>If you want to regenerate same photo in the future, use a number here. Use it to reproduce same photo. Else leave it empty for random:</label><br>
        <input type="number" id="seed" name="seed" placeholder="Enter seed value"><br><br>

        <label for="model">Select Model:</label><br>
        <select id="model" name="model">
            <option value="Random(No Persona)">No Persona (Original Model)</option>
            <option value="asko_kusko">Aşko Kuşko</option>
            <option value="mistik_biri">Mistik Biri</option>
        </select><br><br>

        <button type="submit">Generate Image</button>
    </form>

    <!-- Add a gap here -->
    <br><br>

    {% if image_url %}
        <h2>Generated Image:</h2>
        <img src="{{ image_url }}" alt="Generated Image" style="max-width: 100%; max-height: 500px;">
        <a href="{{ image_url }}" download="generated_image_{{ width }}x{{ height }}_{{ seed }}.jpg">
            <button>Download Image</button>
        </a>
        <br><br>
        <p><strong>Prompt:</strong> {{ prompt }}</p>
        <p><strong>Image Size:</strong> {{ width }} x {{ height }}</p>
        <p><strong>Seed:</strong> {{ seed }}</p>
        <p><strong>Model:</strong> {{ model }}</p>
        
    {% endif %}

    {% if error %}
        <p style="color:red;">Error: {{ error }}</p>
    {% endif %}
</body>
</html>